name: Build

on:
  push:
    branches:
      - main
  pull_request: {}
  release:
    types:
      - created

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    outputs:
      pluginVerifierHomeDir: ${{ steps.plugin-verifier.outputs.pluginVerifierHomeDir }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: oracle
          java-version: 21

      - uses: gradle/actions/wrapper-validation@v5
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew buildPlugin

      - name: Prepare Plugin Artifact
        id: artifact
        shell: bash
        run: |
          cd ${{ github.workspace }}/build/distributions
          FILENAME=`ls *.zip`
          unzip "$FILENAME" -d content
          
          echo "filename=${FILENAME:0:-4}" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.artifact.outputs.filename }}
          path: ./build/distributions/content/*/*

      - uses: softprops/action-gh-release@v2
        if: ${{ github.event_name == 'release' }}
        with:
          files: ./build/distributions/*.zip

  verify:
    name: Verify plugin
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup disk
        run: |
          sudo rm -rf \
            /opt/az \
            /opt/microsoft \
            /opt/google \
            /opt/hostedtoolcache \
            /usr/local/.ghcup \
            /usr/local/lib/android \
            /usr/local/share/chromium \
            /usr/local/share/powershell \
            /usr/share/dotnet \
            /usr/share/swift

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: oracle
          java-version: 21

      - uses: gradle/actions/setup-gradle@v5

      - uses: actions/cache@v4
        with:
          path: ${{ needs.build.outputs.pluginVerifierHomeDir }}/ides
          key: plugin-verifier-${{ hashFiles('build/listProductsReleases.txt') }}

      - name: Run Plugin Verification tasks
        run: ./gradlew verifyPlugin -Dplugin.verifier.home.dir=${{ needs.build.outputs.pluginVerifierHomeDir }}

      - name: Collect Plugin Verifier Result
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: pluginVerifier-result
          path: ${{ github.workspace }}/build/reports/pluginVerifier
